html,
body {
  margin: 0;
  padding: 0;
}

.input_video {

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  width: 100%;
  height: auto;
}

.output_canvas {
  width: auto;
  height: auto;
}

.removed {
  display: none;
}

.shown {
  display: block;
}

.clicked {
  background-color: rgba(74, 74, 74, 0.85);
  /* color:white; */
}

#dot {
  top: 10px;
  left: 10px;
  background-color: red;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.blocks {
  padding: 100px;
  margin: 50px;
  font-size: xx-large;
  border-style: dotted;


}